<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sh1t</title>
    <style>
      body {
        background-color: black;
        color: yellowgreen;
        font-family: "Courier New", Courier, monospace;
        max-width: 560px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>sh1t</h1>
      <h2>One</h2>

      <iframe
        style="border: 0; width: 100%; height: 120px"
        src="https://bandcamp.com/EmbeddedPlayer/album=2839539395/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/artwork=small/transparent=true/"
        seamless
        ><a href="https://pauljacobs.bandcamp.com/album/do-it-again"
          >Do It Again by Paul Jacobs</a
        ></iframe
      >

      <h2>Two</h2>

      <iframe
        style="border: 0; width: 100%; height: 120px"
        src="https://bandcamp.com/EmbeddedPlayer/album=1678933114/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/artwork=small/transparent=true/"
        seamless
        ><a href="https://tjcabot.bandcamp.com/album/king-grove-ep-2022"
          >King Grove EP (2022) by TJ Cabot</a
        ></iframe
      >

      <h2>Three</h2>

      <iframe
        style="border: 0; width: 100%; height: 120px"
        src="https://bandcamp.com/EmbeddedPlayer/album=1332048367/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/artwork=small/transparent=true/"
        seamless
        ><a
          href="https://xrayxeroxx.bandcamp.com/album/off-with-their-heads-e-p"
          >Off With Their Heads (E.P.) by xray xeroxx</a
        ></iframe
      >

      <h2>Four</h2>

      <iframe
        style="border: 0; width: 100%; height: 120px"
        src="https://bandcamp.com/EmbeddedPlayer/album=3214447244/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/artwork=small/transparent=true/"
        seamless
        ><a href="https://brigandage.bandcamp.com/album/pretty-funny-thing"
          >Pretty Funny Thing by Brigandage</a
        ></iframe
      >
    </main>
  </body>
</html>
